div{
    position: absolute;
justify-content: center;

}

#buttons{
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    justify-content: center;
    background-color: darkolivegreen;
}




button{
    padding: 30px ;
    width: 140px;
    background-color:darkslateblue;
    margin: 5px;
    color: white;
    border: 2px;
    border-color: aquamarine;
    
}
#flower{
    justify-content: center;
    width: 500px
    
}

